@font-face {
    font-family: OstrichSans-Bold;
    src: url(./images/OstrichSans-Bold.otf) format("opentype");
}


body {
    background: radial-gradient(closest-side, #3f87a6, #ebf8e1, #f69d3c);
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    text-align: left;
}

.create-form {
    text-align: center;
}

.container {
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    
  }

  .burgergif {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 30%;
      width: 30%;

  }

  .middleList {
      border-style: double;
  }