h1 {
    text-align: center;
}

/* h2 {
    text-align: center;
} */

ul {
    list-style-type: none;
}

.create-form {
    text-align: center;
}

.container {
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
  }