@font-face {
    font-family: OstrichSans;
    src: url(/assets/fonts/ostrich-sans-bold.ttf) format("opentype");
}

@font-face {
    font-family: Ostrich2;
    src: url(/assets/fonts/ostrich-sans-inline-italic.ttf) format("opentype");
}


body {
    background: radial-gradient(closest-side, #3f87a6, #ebf8e1, #f69d3c);
}

h1 {
    text-align: center;
    font-family: OstrichSans;
    font-size: 100px;
    margin-left: 1px;
    margin-right: 1px;

}

h2, h3 {
    text-align: center;
    font-family: OstrichSans;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    font-family: Ostrich2;
    font-size: 20px;
}

li {
    text-align: left;
    
}

.create-form {
    text-align: center;
}

.burgergif {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 30%;
      width: 30%;

}

#middleList {
    border-style: double;
}

footer {
    text-align: center;
    margin-top: 10px;
    font-family: OstrichSans;
}

.heading {
    font-family: OstrichSans;
}

.btn {
    font-family: Ostrich2;
}